{% extends "layout.html" %}
{% from '_form.html' import vertical_field %}

{% block page_title %}Add project{% endblock %}
{% block page_js %}
    <script src="/pages/crm/add/add_project.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/crm/add/add_project.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Add project</h1>

                <form method="post" action="{{ url_for('crm.add_project') }}">
                    {{ ProForm.csrf_token() }}
                    {% for i in ProForm %}
                    {% if i.id == 'csrf_token' %}
                    {% else %}
                    {{ vertical_field(i) }}
                    {% endif %}
                    {% endfor %}        
                    <button type="submit" class="btn btn-primary">Add_project</button>
                </form>
            </div>
        </div>
    </div>
<script>
$('#start_date, #end_date').datepicker({
    format: 'yyyy-mm-dd'
});
</script>
{% endblock %}
